.button
  padding: 0.5em 0.75em
  
  border: 0.0625em solid gray
  border-radius: 0.25em

  background: linear-gradient(top, rgb(201,228,235) 0%,rgb(172,215,226) 40%,rgb(135,199,215) 100%)

  font-size: 1.125em
  line-height: 1
  color: black
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5)
  text-decoration: none // removes underline

  cursor: pointer // give us a hand
