$header_height = 60px

header.top
  height: $header_height
  
  background: linear-gradient(top, rgb(115,122,142), rgb(73,89,125))
  
  box-shadow: 0 0 8px rgba(0,0,0,0.5)

.logo
  display: inline-block
  height: $header_height
  padding: 0 16px

  color: white
  font-size: 24px
  line-height: $header_height
  font-family: 'Cinzel Decorative', cursive;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.75)

.signIn
  float: right
  margin: 10px
